/*
 * Copyright (c) 2023 ZitaoTech
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/ext_power.h>

   
#define NAV 1
#define UPPER 2
#define GUI 3


/ {
    behaviors {
        td0: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&mkp LCLK>, <&bt BT_CLR>;
        };
    };
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            bindings = <&out &kp>;
        };
    };
    behaviors {
        td1: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&sk LSHFT>, <&kp CLCK>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
//         --------------------------------------------------------------------------------------------------------------------------         
//         |    Shoulder Key1    |                                                                             |    Shoulder Key2    |     
// |         Call key      |      Blackberry Key        |    Trackpad    |             Back Key                |             Endcall Key          |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P        |     
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←        |  
// |     alt    |     Z    |     X    |     C    |      V      |       B        |       N        |        M        |       $      |    Enter      |   
//        |         aA     |         0           |           SPACE              |         NAV         |        aA          |       
//        -----------------------------------------------------------------------------------------------------------------

                 &mkp LCLK                                                                                          &mkp RCLK
    &kp CLCK                &sk LGUI                            &mkp LCLK                          &kp ESC                  &kp TAB
    &mt HASH Q   &mt N1 W   &mt N2 E    &mt N3 R     &mt LPAR T    &mt RPAR Y      &mt UNDER U     &mt MINUS I      &mt PLUS O       &mt AT P
    &mt STAR A   &mt N4 S   &mt N5 D    &mt N6 F     &mt SLASH G   &mt COLON H     &mt SEMI J      &mt APOS K       &mt DQT L        &kp BSPC
    &sk LCTRL    &mt N7 Z   &mt N8 X    &mt N9 C     &mt QMARK V   &mt EXCL B      &mt COMMA N     &mt DOT M        &mt DOLLAR QMARK &kp ENTER
    &td1         &mt LALT N0                            &kp SPACE                          &tog UPPER                          &tog NAV
            >;
        };


        nav_layer {

            bindings = <        
                 &kp C_VOL_DN                                                                                       &kp C_VOL_UP
    &kp ESC               &sk LGUI                     &mkp LCLK                          &kp F5                            &kp LG(LS(Q)) 
    &none        &kp LG(UP)     &none       &kp N3    &mt LBKT LBRC &mt RBKT RBRC   &kp HOME         &kp UP           &kp END          &kp SCRL_UP
    &kp LG(LEFT) &kp LG(DOWN) &kp LG(RIGHT) &kp N6    &kp SLASH     &kp PAGE_UP     &kp LEFT         &kp DOWN         &kp RIGHT        &kp SCRL_DOWN
    &sk LSHFT    &kp N7     &kp N8      &kp N9    &kp QMARK     &kp PAGE_DOWN       &kp LC(LEFT)     &kp DOT          &kp LC(RIGHT)    &kp ENTER
    &sk LCTRL               &kp N0                              &kp SPACE                          &tog UPPER                          &tog NAV
            >;
        };

        upper_layer {

            bindings = <
                 &msc SCRL_DOWN                                                                                       &msc SCRL_UP
    &bt BT_SEL 0            &bt BT_SEL 1                             &td0                           &bt BT_SEL 2                     &bt BT_SEL 3
    &none        &kp UP     &none       &sys_reset &ext_power EP_TOG &none         &kp LT           &kp GT          &kp PIPE         &kp KP_EQUAL
    &kp LEFT     &kp DOWN   &kp RIGHT   &none      &kp BSLH          &kp AMPS      &kp LBRC         &kp RBRC        &kp CARET        &kp BSPC
    &kp LSHFT    &none      &none       &none      &bl BL_DEC        &bl BL_TOG    &bl BL_INC       &none           &bootloader      &kp ENTER
    &kp LCTRL               &kp LALT                                 &hm OUT_TOG SPACE              &tog UPPER                         &tog NAV
            >;
        };
    };
};

